backups
elpa
session.*
eshell/history
eshell/lastdir
/auto-save-list/.*
/places
/url/cookies
/.org-id-locations
/.emacs.desktop
/.emacs.desktop.lock
/.smex-items
/tramp
/projectile.cache
/ac-comphist.dat
/semanticdb/*
/.#*
/repl-port
/el-get/*
/flycheck-filesets-cache.el
